$font-family: 'Montserrat';
$font-path: '/assets/fonts/';

@mixin font-face($weight, $font-type) {
  @font-face {
    font-family: $font-family;
    src: url('#{$font-path}Montserrat-#{font-type}.ttf') format('ttf');
    font-style: normal;
    font-weight: $weight;
  }
}

@include font-face(100, 'Thin');
@include font-face(200, 'ExtraLight');
@include font-face(300, 'Light');
@include font-face(400, 'Regular');
@include font-face(500, 'Medium');
@include font-face(600, 'SemiBold');
@include font-face(700, 'Bold');
@include font-face(800, 'ExtraBold');
@include font-face(900, 'Black');
